body {
    font-family: 'Montserrat', sans-serif; /* Modern sans-serif font */
    margin: 0;
    background-color: #f4f4f4; /* Light background for contrast */
}

#home {
    /* Set the background image */
  
    background-size: cover; /* Cover the entire section */
    background-position: center; /* Center the image */
    color: white; /* Make text white for contrast */
    padding: 50px 20px; /* Padding for the content */
    position: relative; /* For positioning pseudo-elements if needed */
}

#home h2 {
    font-size: 2.5rem; /* Larger font for prominence */
    font-weight: bold; /* Bold font for a strong header */
    margin-bottom: 20px; /* Spacing below heading */
}

#home p {
    line-height: 1.8; 
    max-width: 800px;
    margin: 0 auto; 
    font-size: 10.2rem; 
    text-shadow: 1px 1px 4px rgb(244, 240, 240); 
    color: white;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    #home h2 {
        font-size: 2rem; /* Smaller heading size for mobile */
    }

    #home p {
        font-size: 1rem; /* Smaller font size for mobile */
    }
}
