
  .profile-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #ffffff;
    transition: color 0.3s;
    margin-top: -19px;
  
}
  

  .profile-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 40px;
  }
  
  .profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #fff;
    margin-bottom: 1.5rem;
  }
  
  h2 {
    margin: -0.5rem;
  }
  
  p {
    text-align: center;
    font-size: 1.1rem;
    margin-bottom: 1rem;
  }
  
 
  .social-icons {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }
  
  .icon1 {
    font-size: 20px;
    margin: 0 15px;
    color: rgba(255, 255, 255, 0.6);
    transition: color 0.3s ease-in-out;
  }
  
  .icon1:hover {
    color: rgba(255, 255, 255, 1);
  }
  
  .social-stats {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 10px;
    gap: 15px;
  }
  
  .social-stats-content {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 8px 12px;
    border-radius: 30px;
    font-size: 0.9rem;
  }
  
 
  .profile-right {
    flex: 1;
    padding-left: 40px;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
  }
  
  .recent-posts-section {
    background-color: #f0f0f0; 
    padding: 20px;
    margin-top: 20px;
  }
  
  .recent-posts-section h1 {
    color: #333;
    text-align: center;
    margin-bottom: 15px;
  }
  

  .posts {
    display: flex;
    flex-direction: column; 
    gap: 20px; 
    align-items: center; 
  }
  

  .post-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: center;
    overflow: hidden; 
    width: 80%;
    max-width: 1000px; 
    margin: 0 auto; 
  }
  

  .post-image {
    width: 100%;
    height: 250px;
    object-fit: cover; 
    border-radius: 10px;
    margin-bottom: 0px;
  }
  
  .post-card p {
    color: #555;
    font-size: 0.9rem;
  }