/* Container for search bar and dropdown button */
.searchdiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  margin-bottom: 20px;
  margin-left: 20%;
}

/* Search bar styling */
.search-container {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding-top: 0.8%;
  padding-bottom: 0.8%;
  padding-left: 10%;
  padding-right: 2%;
  width: 80%; /* Adjust width as needed */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.search-container input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 16px;
  color: #333;
  margin-left: -10%;
}

.search-icon1 {
  width: 20px;
  height: 20px;
  margin-left: 10%;
  cursor: pointer;
}

/* Dropdown button styling */
.dropbtn-container {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 10px; /* Adjust margin to bring dropdown closer */
}

.dropbtn {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding-top: 15%; /* Adjust padding for consistent size */
  padding-bottom: 15%;
  padding-left: 120%;
  padding-right: 120%;
  font-size: 16px;
  color: #333;
  cursor: pointer;
  display: inline-flex; /* Changed from flex to inline-flex */
  align-items: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.dropbtn i {
  margin-left: 5%;
}

/* Dropdown content styling */
.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
  min-width: 150px;
  overflow: hidden;
}

.dropdown-content a {
  color: #333;
  padding: 10px;
  text-decoration: none;
  display: block;
  font-size: 14px;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show dropdown on hover */
.dropbtn-container:hover .dropdown-content {
  display: block;
}
