.video-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    height: 90vh;
    background-color: #f2f2f2;
    color: #000;
    text-align: center;
    font-family: 'Calibri', sans-serif;
  }
  
  .video-container {
    flex: 1;
    max-width: 560px; /* Set a max width for the video */
    height: 315px; /* Set a fixed height for the video */
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 100px;
  }
  
  .description-container {
    flex: 1;
    margin-left: 20px;
  }
  
  .description-container h2 {
    margin-right: 50px;
  }
  
  .description-container p {
    line-height: 1.5;
    font-size: 1.5rem;
    max-width: 1000px;
    margin-top: 95px;
    margin-right: 50px;
  }
  