/* src/App.css */

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  max-width: 500px;
  margin: auto;
}

/* Make inputs and buttons take up the full width */
.form-control, input, button {
  width: 100%;
}

/* Add some margin to the form sections */
form {
  width: 100%;
  max-width: 400px;
  margin-bottom: 2rem;
}

/* Make text larger and buttons easier to tap */
input, button {
  padding: 0.75rem;
  font-size: 1rem;
}

/* Styling for error messages */
.error {
  color: red;
  font-size: 0.875rem;
}

/* Mobile-specific adjustments */
@media (max-width: 600px) {
  .App {
    padding: 1rem;
  }

  /* Increase padding on smaller screens */
  input, button {
    padding: 1rem;
  }
}
.logo-image {
  width: 50px; /* Set the width as needed */
  height: auto; /* Maintain aspect ratio */
  margin-right: 15px; /* Space between logo and title */
}
/* Desktop-specific adjustments */
@media (min-width: 768px) {
  .App {
    max-width: 600px;
  }
}
