
body {
    font-family: Arial, sans-serif;
    margin: 0;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #282c34;
    color: white;
  }
  
  .header-logo h1 {
    margin: 0;
  }
  
  .nav-links {
    display: flex;
    gap: 20px;
  }
  
  .nav-links a {
    color: white; 
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s; 
  }
  
  .nav-links a:hover {
    color: pink; 
  }
  .profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  
  main > section {
    padding: 50px 20px;
    border-bottom: 1px solid #ddd; 
  }
  
  section h2 {
    margin-bottom: 20px;
  }
  
  section p {
    margin: 0;
  }
  

  #home {
    background-color: #f9f9f9;
  }
  
  #about-us {
    background-color: #e9ecef;
  }
  
  #members {
    background-color: #f9f9f9;
  }
  
  #content {
    background-color: #e9ecef;
  }
  