body {
  font-family: Arial, sans-serif;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  background: linear-gradient(90deg, rgba(221, 13, 48, 0.863), rgba(245, 87, 113, 0.808));
  color: white;
}

.header-logo {
  display: grid;
  grid-template-columns: 1fr 1fr;

  gap: 10px;

}

.header-logo h1 {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 18px;
  margin-left: 2rem;
  margin-bottom: 1px;
  letter-spacing: 1px;
  grid-column: 1;

}

.header-logo h2,
.header-logo h3 {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-left: -12px;

  letter-spacing: 1px;
}

.header-logo h2 {
  margin-top: 35px;
  grid-column: 2;

}

.header-logo h3 {
  margin-top: -55px;
  margin-bottom: 25px;
  grid-column: 2;

}


.nav-links {
  padding: 2.9rem;
  margin-left: 145px;
  display: flex;
  font-size: 1.2rem;
  color: #ffffff;
  letter-spacing: 1px;
  font-weight: 700;
  gap: 50px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  transition: color 0.3s;
}


.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;

  width: 0;
  height: 4px;

  background-color: black;
  border-radius: 100px;
  transition: width 0.3s ease;

}


.nav-links a:hover::after {
  width: 100%;

}

.nav-links a:hover {
  color: rgb(0, 0, 0);

}


.profile-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #ffffff;
  transition: color 0.3s;
}

.profile-container:hover {
  color: #000000;
}

.profile-sub {
  display: flex;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 1px;
  gap: 50px;
  margin-right: 10px;
}

.profile-img-cont {
  width: 4rem;
  height: 4rem;
  border-radius: 50px;
  overflow: hidden;
  margin-right: 2rem;
  background: #000000;
}

@media only screen and (max-width: 56.25em) {
  .profile-img-cont {
    width: 4rem;
    height: 4rem;
    margin-right: 2rem;
  }
}

.profile-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.profile-sub .profile-link {
  color: #ffffff;
  text-decoration: none;
  position: relative;
  transition: color 0.3s;

}

.profile-sub .profile-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;

  width: 0;
  height: 4px;

  background-color: black;
  border-radius: 100px;

  transition: width 0.3s ease;
}


.profile-sub .profile-link:hover {
  color: #000000;

}

.profile-sub .profile-link:hover::after {
  width: 100%;

}

#home {

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 4rem 2rem;

  background-color: #f2f2f2;

  color: #333;

  margin-bottom: 50px;
  position: relative;

}

#home h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #222;

  margin-top: -10px;
  margin-bottom: 0rem;
  letter-spacing: 1px;
}

#home p {
  font-size: 1.5rem;
  max-width: 700px;

  line-height: 1.5;
  color: #555;
}

.home__mouse-scroll-cont {
  position: absolute;
  bottom: -20%;
  left: 50%;
  transform: translateX(-50%);

}

.mouse {
  width: 24px;

  height: 40px;

  border: 4px solid #000;

  border-radius: 20px;

  position: relative;
  animation: bounce 1s infinite;

}


.dot {
  width: 8px;

  height: 8px;

  background-color: #000;

  border-radius: 50%;

  position: absolute;
  left: 50%;
  top: 5px;

  transform: translateX(-50%);

  animation: moveDot 1s infinite;

}


@keyframes bounce {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(10px);

  }
}

@keyframes moveDot {
  0% {
    transform: translate(-50%, 0);
  }

  50% {
    transform: translate(-50%, 5px);
  }

  100% {
    transform: translate(-50%, 0);
  }
}

@media only screen and (max-width: 37.5em) {
  .home__mouse-scroll-cont {
    display: none;
  }
}


#about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 60px);
  background-color: #fff;
  color: #000;
  text-align: center;
  padding-top: 60px;
}

#about-us h1 {
  font-size: 3rem;

  font-weight: bold;

  margin-bottom: 1rem;

  position: relative;

}

#about-us h1::after {
  content: "";
  display: block;
  height: 6px;
  width: 30%;
  background: linear-gradient(90deg, rgba(221, 13, 48, 0.863), rgba(245, 87, 113, 0.808));
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -25px;
  border-radius: 500px;
}

#about-us p {
  font-size: 1.5rem;
  max-width: 1000px;
  line-height: 1.5;
  margin-top: 50px;
}


#contactus {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  background-color: #f2f2f2;
  color: #000;
  text-align: center;
  font-family: 'Calibri', sans-serif;
}

#contactus h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-top: -10px;
  margin-bottom: 1rem;
  position: relative;
}

#contactus h1::after {
  content: "";
  display: block;
  height: 6px;
  width: 30%;
  background: linear-gradient(90deg, rgba(221, 13, 48, 0.863), rgba(245, 87, 113, 0.808));
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -25px;
  border-radius: 500px;
}

#contactus p {
  font-size: 1.5rem;
  margin: 0.5rem 0;
  margin-top: 50px;
}

#contactus p1 {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

.social-icons {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.social-icon {
  width: 30px;
  height: 30px;
  margin: 0 10px;
  fill: #000;
  transition: transform 0.3s;
}

.social-icon:hover {
  transform: scale(1.1);
}


#content {
  background-color: #e9ecef;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #fff;
  height: 60px;
  font-family: 'Calibri', sans-serif;
  font-size: 1rem;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: auto;
}

.footer p {
  margin: 0;
}